:root {
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
}
body {
}
#wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.title {
  text-align: center;
  margin-bottom: 2rem;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
h1 {
  text-transform: uppercase;
}
#game {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  gap: 10px;
}
.ctn-grid {
  display: flex;
  align-items: center;
  justify-content: stretch;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}
.ctn-grid > h2 {
  font-size: 3vmin;
}
.ctn-grid > .reset-btn {
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20vmin;
  padding: 1vmin;
  text-transform: uppercase;
}
.grid {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 20vmin;
  height: 20vmin;
}
.item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
#buttons {
  display: grid;
  grid-template-columns: repeat(2, 20vmin);
  gap: 20px;
}
#buttons > * {
  text-transform: uppercase;
  padding: 1vmin;
}
#message,
#message-modes {
  text-transform: uppercase;
}
:disabled {
  opacity: 0.1;
}
