:root {
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
}
body {
}
#wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.title {
  text-align: center;
  margin-bottom: 2rem;
}
#gameBoard {
  /* background-color: violet; */
  height: 18rem;
  width: 18rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.item {
  height: 100%;
  width: 100%;
  opacity: 0.5;
  font-size: 2rem;
  flex: 1;
}
#showTurn {
  margin-top: 6rem;
}
#restart {
  margin-top: 2rem;
  padding: 1rem;
}
